astropy==7.1.0
astropy-iers-data==0.2025.8.4.0.42.59
certifi==2025.8.3
charset-normalizer==3.4.2
idna==3.10
numpy==2.3.2
packaging==25.0
pandas==2.3.1
pyerfa==2.0.1.5
python-dateutil==2.9.0.post0
pytz==2025.2
pyvo==1.7
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
